---
---

<!DOCTYPE html>

<html>

    <head>
        <title>MailTape {{ page.category }} - {{ page.guest_name }}</title>
        <meta property="og:title" content="MailTape - Archives" />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="https://www.mailta.pe/archives" />
        <meta property="og:image" content="TODO" />
        <meta property="og:description" content="Find here all MailTape archives" />
     
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/assets/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/assets/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/assets/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/assets/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/assets/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
        <link rel="manifest" href="/assets/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/assets/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <link rel="shortcut icon" href="/favicon.ico">

        <!-- Chargement des polices sur Google Fonts (oui c'est mal et faudra changer ça) -->
        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>

        <script>
            WebFont.load({
              google: {
                families: ['Roboto:300,500','Arima+Madurai:300']
              },
              custom: {
                families: ['superspitze_groteskregular', 'icomoon'],
                urls: ['/assets/stylesheets/reference.css']
              }
            });
        </script>

        <!-- load jquery 3.4.1 local and popperjs for bootstrap 4 -->
        <script src="/assets/javascripts/vendor/jquery-3.4.1.min.js"></script>

        <!--   <script src="/assets/javascripts/jquery.easing.1.3.js"></script> A priori plus utilisé. Désactivé pour test -->

        <!-- migration tool (to activate if any problem with jQuery3 ) -->    
        <!-- <script src="/assets/javascripts/vendor/jquery-migrate-3.1.0.js"></script> -->


        <!-- Include here bootstrap -->
        <script src="/assets/javascripts/bootstrap/bootstrap.bundle.min.js"></script>

        <script src="/assets/javascripts/jquery.shave.min.js"></script>

        <!--   Include here all homemade scripts -->   
        <script src="/assets/javascripts/hello.js"></script>
        <script src="/assets/javascripts/mt-footer.js"></script>
        <script src="/assets/javascripts/mt-mailSub.js"></script>
        <script src="/assets/javascripts/mt-archive.js"></script>



       <!-- Matomo Tracker here. We're keeping your private data safe on our own server and not sharing it with external trackers such as Google. We use this only to know how many people enjoy MailTape and imagine new features. If you use a blocker, it's fine with us of course. Cheers. -->
        <script type="text/javascript">
         var _paq = window._paq || [];
         /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
         _paq.push(['trackPageView']);
         _paq.push(['enableLinkTracking']);
         (function() {
           var u="//maty.mailta.pe/";
           _paq.push(['setTrackerUrl', u+'matomo.php']);
           _paq.push(['setSiteId', '1']);
           var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
           g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
         })();
        </script>
        <noscript><p><img src="//maty.mailta.pe/matomo.php?idsite=1&amp;rec=1" style="border:0;" alt="" /></p></noscript>
        <!-- End Matomo Code -->


        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="/assets/stylesheets/bootstrap/bootstrap.min.css">
        
        <!-- CSS and styling components -->    
        <link rel="stylesheet" type="text/css" href="/assets/stylesheets/mailtape.css">


    </head>

    <body>

        <noscript>PLEASE <a href="http://www.enable-javascript.com/" target="blank">ENABLE JAVASCRIPT</a>We are verry sorry but MailTape isn't working  properly without javascript, so you need to activate it.</noscript>

<!--         {% include topbar.html %}
 -->
         <div class="container">

            {% for post in site.posts %}
                {% if site.time > post.date %}
                    <div id="archivePreview" class="d-flex sticky-top mb-4">
                        <div>
                            <img src="//images.weserv.nl/?url=ssl:www.mailta.pe/img/{{ post.guestPic }}&w=360&h=240&fit=cover&il"/>
                        </div>
                        <div class="d-flex flex-column flex-nowrap">
                            <div class="px-2">
                                <h1>{{ post.guest_name }}</h1>
                                <h2>EPISODE #{{ post.category }} - SUN MORNING, {{ post.date | date: "%d %b %Y" | upcase }}</h2>
                                <p id="previewPostDescription">{{ post.description }}</p>
                            </div>
                            <div class="px-2">
                                <p id="previewPostTracks" style="margin-bottom:0">
                                    <ul>
                                        <li>{{ post.track1_title }}</li>
                                        <li>{{ post.track2_title }}</li>
                                        <li>{{ post.track3_title }}</li>
                                        <li>{{ post.track4_title }}</li>
                                        <li>{{ post.track5_title }}</li>
                                        <li>{{ post.track6_title }}</li>
                                        <li>{{ post.track7_title }}</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                    {% break %}
                {% endif %}
            {% endfor %}

<!-- TODO tester catégorisation par années et mettre plus en avant les titres plutôt que la description -->
            <div class="d-flex align-content-start flex-wrap"> 
                {% for post in site.posts %}
                    {% if site.time > post.date %}  
                        <div class="p-2">
                            <div class="ar-div">       
                                <a data-preview-img="//images.weserv.nl/?url=ssl:www.mailta.pe/img/{{ post.guestPic }}&w=360&h=240&fit=cover&il" data-preview-h1="{{ post.guest_name }}" data-preview-h2="EPISODE #{{ post.category }} - SUN MORNING, {{ post.date | date: '%d %b %Y' | upcase }}" data-preview-p="{{ post.description }}" data-preview-tracks="{{ post.track1_title }} / {{ post.track2_title }} / {{ post.track3_title }} / {{ post.track4_title }} / {{ post.track5_title }} / {{ post.track6_title }} / {{ post.track7_title }}"  class="ar-link {{ post.guest_color }}" href="{{ post.url }}">{{ post.guest_name }}</a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>



    {% include footer.html %}


