---
---

{% for post in site.posts %}
{% if site.time > post.date %}

<!DOCTYPE html>
<html>
<head>
    <title>MailTape, your Sunday morning playlist.</title>

    <meta property="og:title" content="MailTape, your Sunday morning playlist." />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://mailta.pe" />
    <meta property="og:image" content="http://mailta.pe/img/post.fbPicMT" />
    <meta property="og:description" content="Our guest selects 3 tracks, we build an inspiring playlist out of it, you receive it and start your Sunday with a smile." />
    <meta property="fb:admins" content="maximeguedj,ludovic.coutant" />
    <meta property="fb:app_id" content="185828848128617" />

    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">

    <script type="text/javascript" src="//use.typekit.net/raj7qig.js"></script>
    <script type="text/javascript">
    try {
        Typekit.load();
    } catch (e) {}
    </script>


    <link rel="shortcut icon" href="favicon.ico">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/assets/javascripts/html5shiv.js"></script>
      <script type="text/javascript"></script>t src="../../assets/assets/javascripts/respond.min.js"></script>
      <![endif]-->

    <link href="/assets/stylesheets/mailtape.css" rel="stylesheet" media="screen">
    <link href="/assets/stylesheets/archive.css" rel="stylesheet" media="screen">
    <link href="/assets/stylesheets/landing.css" rel="stylesheet" media="screen">


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!-- dynamically-resized background image to any page or block level element. -->
    <script type="text/javascript" src="/assets/javascripts/jquery.anystretch.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
   <script src="/assets/javascripts/bootstrap.min.js"></script>

   <script src="/assets/javascripts/jquery.fittext.js"></script>

   <script src="/assets/javascripts/flowtype.js"></script>

   <script src="/assets/javascripts/landing.js"></script>

   <script src="/assets/javascripts/jquery.ajaxchimp.js"></script>


    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-11613573-3']);
    _gaq.push(['_setDomainName', 'mailta.pe']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
    </script>

     <script type="text/javascript">
    <!--
    if (screen.width <= 699) {
    document.location = "{{ post.url }}";
    }
    //-->
    </script>

</head>

<body>
      <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5VCFCF"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5VCFCF');</script>
    <!-- End Google Tag Manager -->
    <noscript>PLEASE <a href="http://www.enable-javascript.com/" target="blank">ENABLE JAVASCRIPT</a> IN ORDER TO DISPLAY WELL MAILTAPE.</noscript>


<div id="bigHeader" class="stretchMe" data-stretch="/img/hero.jpg">
    <a href="/" style="background:none;borders:none;"><img id="logoLeftCorner" src="/img/Logo_Mailtape_long_white.png"></a>
<!--     <div id="hero">
        <video class="video-playing" loop="loop" preload="auto" autoplay="autoplay" id="pretzel-video">
            <source src="//a0.muscache.com/airbnb/static/London-P1-1.mp4" type="video/mp4">
            <source src="//a0.muscache.com/airbnb/static/London-P1-0.webm" type="video/webm">
          </video>
    </div> -->
    <div id="overHero">
        <p id="bigIntro">Fantastic, welcome !</p>
        <p id="underBigIntro">To shorten your wait-time till next Sunday, discover our latest playlist.</p><br><br>

        <a href="{{ post.url }}" id="latestEpisodeHero" class="{{ post.guest_color }}">
            <span class="icomoon">&#xe602;</span> PLAYLIST {{ post.category }} x {{ post.guest_name }}
        </a>
</div>


    </div>
</div>

<div id="musiColorSeparator" class="{{ post.guest_color }}">
<!--     <a href="{{ post.url }}" id="latestEpisode" class="{{ post.guest_color }}">
        <span class="icomoon">&#xe602;</span> PLAYLIST {{ post.category }} x {{ post.guest_name }}
    </a> -->
</div>

<div class="container main">

    <div class="archives" id="archives">
    </div>
    <br>

</div>


<!-- affichage du grand titre -->
<script type="text/javascript">
    $('#bigTitle').flowtype({
        minimum   : 100,
        maximum   : 1110,
        minFont   : 12,
        maxFont   : 250,
        fontRatio : {{ post.bigTitle_font_ratio }} , // A modifier au cas par cas ! -- Règle la largeur du titre
        lineRatio : {{ post.bigTitle_line_ratio }} // A modifier au cas par cas ! -- Règle la hauteur de ligne du titre
        });
</script>

<div class="footer">
    <img src="/img/Logo_Mailtape_long.png" style="width:12em" />
    <br>
    <a data-toggle="modal" href="#subModal" onClick="_gaq.push(['_trackEvent', 'Buttons', 'Nav', 'SubscribeLow']);">SUBSCRIBE</a>&nbsp;|&nbsp;
    <a data-toggle="modal" href="#loveModal" onClick="_gaq.push(['_trackEvent', 'Buttons', 'Nav', 'LoveLow']);">LOVE</a>&nbsp;|&nbsp;
    <a onClick="_gaq.push(['_trackEvent', 'Buttons', 'Nav', 'Archives']);" class="archivesButton">ARCHIVES</a>
    <!-- Eviter d'afficher le bouton archive dans le cas où JS non activé puisque fonctionne pas dans ce cas -->
    <noscript>
        <style>
        #archivesButton {
            display:none;
        }
        </style>
    </noscript>&nbsp;|&nbsp;
    <a data-toggle="modal" href="#aboutModal" onClick="_gaq.push(['_trackEvent', 'Buttons', 'Nav', 'AboutLow']);">ABOUT</a>
    <br>© 2011-2013 MailTape, all rights reserved. | <a href="http://twitter.com/MailTape" target="_blank">Twitter</a> | <a href="http://facebook.com/MailTape" target="_blank">Facebook</a>
    <br>Created by <a href="http://twitter.com/imacrea" target="_blank">ImaCrea</a> from Toulouse, France.
    <br>
    <img src="/img/powered_by_sc.png" style="width:8em" />
    <br>
    <br>

</div>

</div>
</body>

</html>

{% break %}
{% endif %}
{% endfor %}