<!DOCTYPE html>
<html>

<head>
    <title>MailTape {{ page.category }} - {{ page.guest_name }}</title>
    <meta property="og:title" content="MailTape {{ page.category }} - {{ page.guest_name }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ page.episode_URL }}" />
    <meta property="og:image" content="{{ page.image }}" />
    <meta property="og:description" content="{{ page.description }}" />
 
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/assets/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="shortcut icon" href="/favicon.ico">

    <!-- Chargement des polices sur Google Fonts (oui c'est mal et faudra changer ça) -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>

    <script>
        WebFont.load({
          google: {
            families: ['Roboto:300,500','Arima+Madurai:300']
          },
          custom: {
            families: ['superspitze_groteskregular', 'icomoon'],
            urls: ['/assets/stylesheets/reference.css']
          }
        });
    </script>

    <!-- load jquery 3.4.1 local and popperjs for bootstrap 4 -->
    <script src="/assets/javascripts/vendor/jquery-3.4.1.min.js"></script>

    <!--   <script src="/assets/javascripts/jquery.easing.1.3.js"></script> A priori plus utilisé. Désactivé pour test -->

    <!-- migration tool (to activate if any problem with jQuery3 ) -->    
    <!-- <script src="/assets/javascripts/vendor/jquery-migrate-3.1.0.js"></script> -->


   <!--     Chargement de l'API Soundcloud -->
   <script src="//connect.soundcloud.com/sdk.js"></script>

   <!-- soundManager API -->
    <script src="/assets/javascripts/soundmanager2-jsmin.js"></script>

    <!-- Include here bootstrap -->
   <script src="/assets/javascripts/bootstrap/bootstrap.bundle.min.js"></script>

    <!--   Include here all homemade scripts -->   
    <script src="/assets/javascripts/hello.js"></script>
    <script src="/assets/javascripts/mt-episode.js"></script>
    <script src="/assets/javascripts/mt-footer.js"></script>
    <script src="/assets/javascripts/mt-mailSub.js"></script>

    <!-- Page player main script -->
    <script src="/assets/javascripts/page-player.js"></script>

    <script>
    soundManager.setup({
        flashVersion: 8,                  // flash build to use (8 or 9.) Some API features require 9.
        debugMode: true,                  // enable debugging output (console.log() with HTML fallback)
        debugFlash: false,                // enable debugging output inside SWF, troubleshoot Flash/browser issues
        useConsole: true,                 // use console.log() if available (otherwise, writes to #soundmanager-debug element)
        consoleOnly: true,                // if console is being used, do not create/write to #soundmanager-debug
        preferFlash: false, // for visualization effects
        useHTML5Audio: true, // use HTML5 Audio() where API is supported (most Safari, Chrome versions), Firefox (MP3/MP4 support varies.) Ideally, transparent vs. Flash API where possible.
        forceUseGlobalHTML5Audio: true,  // if true, a single Audio() object is used for all sounds - and only one can play at a time.
        ignoreMobileRestrictions: false,  // if true, SM2 will not apply global HTML5 audio rules to mobile UAs. iOS > 7 and WebViews may allow multiple Audio() instances.
        useHighPerformance: false, // keep flash on screen, boost performance
        wmode: 'transparent', // transparent SWF, if possible
        allowScriptAccess: 'always',      // for scripting the SWF (object/embed property), 'always' or 'sameDomain'
        url: '/swf/'
    });

    // custom page player configuration

    var PP_CONFIG = {
        autoStart: false, // begin playing first sound when page loads
        playNext: true, // stop after one sound, or play through list until end
        useThrottling: false, // try to rate-limit potentially-expensive calls (eg. dragging position around)</span>
        usePeakData: false, // [Flash 9 only] whether or not to show peak data (left/right channel values) - nor noticable on CPU
        useWaveformData: false, // [Flash 9 only] show raw waveform data - WARNING: LIKELY VERY CPU-HEAVY
        useEQData: false, // [Flash 9 only] show EQ (frequency spectrum) data
        useFavIcon: false, // try to apply peakData to address bar (Firefox + Opera) - performance note: appears to make Firefox 3 do some temporary, heavy disk access/swapping/garbage collection at first(?) - may be too heavy on CPU
        allowRightClick: false, // let users right-click MP3 links ("save as...", etc.) or discourage (can't prevent.)
        updatePageTitle: false,
    }
    </script>


    <!-- déclaration des url des tracks de la playlist -->
    <script>

    var tracksURL = [
        "{{ page.track1_link }}",
        "{{ page.track2_link }}",
        "{{ page.track3_link }}",
        "{{ page.track4_link }}",
        "{{ page.track5_link }}",
        "{{ page.track6_link }}",
        "{{ page.track7_link }}",
    ]

    var tracksTitle = [
        "{{ page.track1_title }}",
        "{{ page.track2_title }}",
        "{{ page.track3_title }}",
        "{{ page.track4_title }}",
        "{{ page.track5_title }}",
        "{{ page.track6_title }}",
        "{{ page.track7_title }}",
    ]

    </script>


    <script>

    var relatedEpisodes_numbers = [
        {% for post in site.posts %}
            {% if site.time > post.date %}
                "{{ post.category }}",
            {% endif %}
        {% endfor %}
    ];

    var relatedEpisodes_guestNames = [
        {% for post in site.posts %}
            {% if site.time > post.date %}
                "{{ post.guest_name }}",
            {% endif %}
        {% endfor %}
    ];

    var relatedEpisodes_URLs = [
        {% for post in site.posts %}
            {% if site.time > post.date %}
                "{{ post.url }}",
            {% endif %}
        {% endfor %}
    ];

    var relatedEpisodes_guestPics = [
        {% for post in site.posts %}
            {% if site.time > post.date %}
                "/img/{{ post.guestPic }}",
            {% endif %}
        {% endfor %}
    ];

    var relatedEpisodes_MusiColors = [
        {% for post in site.posts %}
            {% if site.time > post.date %}
                "/img/{{ post.musiColor }}",
            {% endif %}
        {% endfor %}
    ];

    </script>

    <!-- autres data à faire passer au js -->
    <script>

    var episodeNumber = {{ page.category }}

    </script>


   <!-- Matomo Tracker here. We're keeping your private data safe on our own server and not sharing it with external trackers such as Google. We use this only to know how many people enjoy MailTape and imagine new features. If you use a blocker, it's fine with us of course. Cheers. -->
    <script type="text/javascript">
     var _paq = window._paq || [];
     /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
     _paq.push(['trackPageView']);
     _paq.push(['enableLinkTracking']);
     (function() {
       var u="//maty.mailta.pe/";
       _paq.push(['setTrackerUrl', u+'matomo.php']);
       _paq.push(['setSiteId', '1']);
       var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
       g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
     })();
    </script>
    <noscript><p><img src="//maty.mailta.pe/matomo.php?idsite=1&amp;rec=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Matomo Code -->


    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/bootstrap/bootstrap.min.css">
    
    <!-- Page player core CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/page-player.css" />

    <!-- soundManager.useFlashBlock: related CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/flashblock.css" />
    
    <!-- CSS and styling components -->    
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/mailtape.css">


</head>

<body>
    <noscript>PLEASE <a href="http://www.enable-javascript.com/" target="blank">ENABLE JAVASCRIPT</a>We are verry sorry but MailTape isn't working  properly without javascript, so you need to activate it.</noscript>
