    <div id="footer">

        <div class="container">
            <div class="row">
               <div class="col-md-12 center">
                   <img src="/img/Logo_Mailtape.png" style="width:12em" />
                   <br>
                   <h2>Inspiration through music, every Sunday morning.</h2>

                </div>
                <button id="footerLearnMore">Learn more</button>
                <div class="footerLearnMoreArea">
                   <p>
                     A non profit art collective of curators, illustrators and writers.<br>
                     With passion, for the love of music.
                     <br>Created by <a rel="me" href="https://mamot.fr/@imacrea" target="=_blank">ImaCrea</a>.
                     <br><br>
                     Alive thanks to <a href="http://anaiscaura.fr/" target="_blank">Anaïs</a>, Amin, Anthony, <a href="http://www.slipontherock.com/" target="_blank">Célestin</a>, Charlotte, Daisy, Jules, Inès, Luc, Martha, <a href="http://pierrejulienfieux.com/" target="_blank">Pierre-Julien</a>, Phyllis, <a href="http://sanjaymistry.com" target="_blank">Sanjay</a>, Shalkie, Siddhartha and <a href="http://williamgirault.com/" target="_blank">William</a>.
                     <br>
                     We're all volunteers. Infinite thanks to your <a href="https://www.helloasso.com/associations/mailtape/formulaires/2/" target="_blank">donations</a> which pay MailTape running costs.
                     <br>
                     <br><a href="https://write.as/mailtape/" target="_blank">Read our blog</a> | <a href="http://twitter.com/MailTape" target="_blank">Follow us</a> | <a href="http://facebook.com/MailTape" target="_blank">Fan us</a> | <a href="mailto:contact@mailta.pe" target="_blank">Contact us</a>
                     <br>© 2011-2019 MailTape, all rights reserved.
                     <br>
                    </p>
                </div>
           </div>

        </div>
    </div>

    </div>

    </div>

    <!-- dynamically-resized background image to any page or block level element. -->
    <script type="text/javascript" src="/assets/javascripts/jquery.backstretch.min.js"></script>

  </body>

</html>