<div id="footer">

    <div class="container">
        <div class="row">
           <div class="col-md-12 center">
               <img src="/img/Logo_Mailtape.png" style="width:12em" />
               <br>
               <h2>Feeding your inspiration with music, every Sunday morning.</h2>

            </div>
            <button id="footerLearnMore">Learn more</button>
            <div class="footerLearnMoreArea">
               <p>
                 A non profit art collective of curators, illustrators and writers.<br>
                 With passion, for the love of music.
                 <br>Created by <a href="http://twitter.com/imacrea" target="_blank">ImaCrea</a>.
                 <br><br>
                 Alive thanks to Agathe, <a href="http://cargocollective.com/anaiscaura" target="_blank">Anaïs</a>, <a href="http://www.slipontherock.com/" target="_blank">Célestin</a>, Daisy, <a href="http://wallofsound.fr/" target="_blank">Dimitri</a>, Inès, <a href="https://twitter.com/LauraSc1405" target="_blank">Laura</a>, <a href="https://twitter.com/petrouchka_/" target="_blank">Louise</a>, <a href="http://maximegourga.com/" target="_blank">Maxime</a>, <a href="https://twitter.com/olivierkn" target="_blank">Olivier</a>, Phyllis, <a href="http://sanjaymistry.com" target="_blank">Sanjay</a>, Shalkie, Siddhartha, <a href="https://twitter.com/greenvincent" target="_blank">Vincent</a> and <a href="http://williamgirault.com/" target="_blank">William</a>.
                 <br>
                 We're all volunteers. MailTape running costs are supported by our generous donators and patrons.
                 <br>
                 <br><a href="http://twitter.com/MailTape" target="_blank">Follow us</a> | <a href="http://facebook.com/MailTape" target="_blank">Fan us</a> | <a href="mailto:contact@mailta.pe" target="_blank">Contact us</a>
                 <br>© 2011-2017 MailTape, all rights reserved.
                 <br><img src="/img/powered_by_sc.png" style="width:8em" />
                 <br>
                </p>
            </div>
       </div>

    </div>
</div>

</div>

<!--     <img src="/img/Logo_Mailtape_long.png" style="width:12em" />
    <br>
    <a data-toggle="modal" href="#subModal" onClick="_gaq.push(['_trackEvent', 'Buttons', 'Nav', 'SubscribeLow']);">SUBSCRIBE</a>&nbsp;|&nbsp;
    <a data-toggle="modal" href="#loveModal" onClick="_gaq.push(['_trackEvent', 'Buttons', 'Nav', 'LoveLow']);">LOVE</a><span class="hidden-xs">&nbsp;|&nbsp;</span>
    <a onClick="_gaq.push(['_trackEvent', 'Buttons', 'Nav', 'Archives']);" class="archivesButton hidden-xs">ARCHIVES</a>
    Eviter d'afficher le bouton archive dans le cas où JS non activé puisque fonctionne pas dans ce cas
    <noscript>
        <style>
        #archivesButton {
            display:none;
        }
        </style>
    </noscript>
    <br>© 2011-2015 MailTape, all rights reserved. | <a href="http://twitter.com/MailTape" target="_blank">Twitter</a> | <a href="http://facebook.com/MailTape" target="_blank">Facebook</a>
    <br>Created by <a href="http://twitter.com/imacrea" target="_blank">ImaCrea</a> from Toulouse, France.
    <br>
    <img src="/img/powered_by_sc.png" style="width:8em" />
    <br>
    <br>

</div> -->

</div>

  <!-- Embed plasso donation script -->
  <script src='https://plasso.co/embed/v3/e.js'></script>

</body>

</html>