<div class="col-md-3 col-md-offset-1 hidden-xs hidden-sm rightSide">

            <h1>Feel love</h1>
            <h2>Let us wake you up gently every sunday morning.</h2>

            <!-- Begin MailChimp Signup Form -->
            <div id="mc_embed_signup">
                <form action="http://MailTa.us2.list-manage.com/subscribe/post?u=315c4b8ac6f2abfa345529f46&amp;id=55aa8710ee" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

                    <div class="mc-field-group">
                        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Your email ?">
                    </div>
                    <div class="mc-field-group">
                        <input type="text" value="" name="PRENOM" class="required" id="mce-PRENOM" placeholder="How should we call you ?">
                    </div>
                    <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                        <input type="submit" value="Fantastic !" name="subscribe" id="mc-embedded-subscribe" class="button" onClick="_gaq.push(['_trackEvent', 'CTA', 'Subscribe', 'Submit infos from sidebar']);">
                    </div>
                </form>
            </div>

            <!--End mc_embed_signup-->

            <h1 class="musicolorLabel">Musicolor</h1>
            <h2>A visual language for music tasters.</h2>
            <ul class="musicolorAside">
                <li>= Rough <i>: extreme, wild.</i>
                </li>
                <li>= Dreamy <i>: light, uplifting.</i>
                </li>
                <li>= Vibrant <i>: joyful, lively.</i>
                </li>
                <li>= Bliss <i>: vivid, euphoria.</i>
                </li>
                <li>= Trippy <i>: mindblowing, jagged.</i>
                </li>
            </ul>

            <h1>Made a discovery ?</h1>
            <h2>Check their SoundCloud</h2>
            <ul class="ingredientsAside">
                <li><a id="track1_link" href="#" target="_blank" onClick="_gaq.push(['_trackEvent', 'Credits', '129', 'track1']);">&#xe605;</a>
                    <p id="track1_title_link">track1</p>
                </li>

                <li><a id="track2_link" href="#" target="_blank" onClick="_gaq.push(['_trackEvent', 'Credits', '129', 'track2']);">&#xe605;</a>
                    <p id="track2_title_link">track2</p>
                </li>

                <li><a id="track3_link" href="#e" target="_blank" onClick="_gaq.push(['_trackEvent', 'Credits', '129', 'track3']);">&#xe605;</a>
                    <p id="track3_title_link">track3</p>
                </li>

                <li><a id="track4_link" href="#s" target="_blank" onClick="_gaq.push(['_trackEvent', 'Credits', '129', 'track4']);">&#xe605;</a>
                    <p id="track4_title_link">track4</p>
                </li>

                <li><a id="track5_link" href="#" target="_blank" onClick="_gaq.push(['_trackEvent', 'Credits', '129', 'track5']);">&#xe605;</a>
                    <p id="track5_title_link">track5</p>
                </li>

                <li><a id="track6_link" href="#" target="_blank" onClick="_gaq.push(['_trackEvent', 'Credits', '129', 'track6']);">&#xe605;</a>
                    <p id="track6_title_link">track6</p>
                </li>

                <li><a id="track7_link" href="#" target="_blank" onClick="_gaq.push(['_trackEvent', 'Credits', '129', 'track7']);">&#xe605;</a>
                    <p id="track7_title_link">track7</p>
                </li>
            </ul>

            <h1>Participate</h1>
            <h2>Donating = Loving</h2>
            <p class="support_aside">MailTape remains ad-free, takes hours of passionate work and hundreds of euros to sustain. If you find any joy and value in it, please consider becoming a Member and supporting with a recurring weekly donation of your choosing, between a coffee and a cheesecake :</p>
            <div class="paypal_form">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" class="paypal_form">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="RHZ282ZGVUG7G">
                    <label>
                        <select name="os0">
                            <option value="*">&#9829; 1€/episode</option>
                            <option value="**">&#9829; 3€/episode</option>
                            <option value="***">&#9829; 5€/episode</option>
                        </select>
                    </label>
                    <input type="hidden" name="currency_code" value="EUR">
                    <input type="submit" value="Yay!" name="subscribe" id="mc-embedded-subscribe" alt="Secured payment with Paypal" class="button" onClick="_gaq.push(['_trackEvent', 'CTA', 'Donating', 'Clicked on weekly donation from sidebar']);">
                </form>
            </div>

            <p class="support_aside">
                <br>You can also become a one-time patron with a single donation in any amount :</p>
            <div class="paypal_form">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" class="paypal_form">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="HLFXGUF7DYTLG">
                    <input type="submit" border="0" name="submit" value="Wow  !" class="button" onClick="_gaq.push(['_trackEvent', 'CTA', 'Donating', 'Clicked on single donation from sidebar']);">
                </form>
            </div>
        </div>