<!-- <div class="container">
    <div class="row">
        <div class="col-md-12 hidden-xs" id="topbar-subscription">
            <div id="topbar-subscription-form">
                <p id="topbar-subscription-form-text">Fresh music in your inbox, every Sunday morning : </p>
                <form action="http://MailTa.us2.list-manage.com/subscribe/post?u=315c4b8ac6f2abfa345529f46&amp;id=55aa8710ee" method="post" id="mc-form" name="mc-form" class="validate" target="_blank">
                   <input type="email" name="EMAIL" class="required email" id="mc-EMAIL" placeholder="Your email ?" required>
                    <input type="text" name="PRENOM" class="required" id="mc-PRENOM" placeholder="Your name ?" required>
                    <button name="subscribe" id="subscribeButton">Subscribe</button>
                    <label id="mc-label" for="mc-EMAIL"></label>
                </form>
            </div>
        </div>
    </div>
</div> -->