<div class="container">
    <div class="d-none d-md-flex" id="topbar-subscription-form">
        <div class="col-md-6 d-md-inline topbar-subscription">
            <div>
                <h1>✌️Welcome on MailTape.</h1>
                <h2>We release a playlist co-curated with a surprise guest each Sunday morning.💎 
                </h2>
            </div>
        </div>
        <div class="col-md-6 d-md-inline topbar-subscription">
<!--             <h3>👇 Subscribe, it's free and will ever be!</h3>
 -->            <form action="https://iris.mailta.pe/subscribe.php" method="post" accept-charset="utf-8" name="topbar-signup-form" id="topbar-signup-form" target="_blank">
                <input type="text" name="topbar-name" placeholder="Alex" pattern="^([A-Z]{1})+([[A-Za-z]+[,.]?[ ]?|[A-Za-z]+['-]]?)+$" required>
                <input type="email" name="topbar-email" placeholder="alex@mail.com" required>
                <button type="submit" name="topbar-subscribe" id="topbar-subscribeButton" data-toggle="tooltip" data-placement="bottom" title="We respect your privacy, we'll never share or sell your data.">Follow</button>
                <br><p id="topbar-status"></p>
            </form>
        </div>
    </div>
</div> 



<!-- Modal -->
            <div class="modal fade" id="topLearnMoreModal" tabindex="-1" role="dialog" aria-labelledby="subModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">🌟 Never miss an episode</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>    
                        </div>

                        <div class="modal-body">
                            <p>
                                You can follow us on Facebook, Twitter, Instagram. 
                                <br><br>
                                If you prefer to avoid these corporations exploiting your privacy, we are also on <a href="https://masto.mtcrew.org/@MailTape" target="_blank">Mastodon</a> and we provide <a href="/feed.xml" target="_blank">a RSS feed</a>. 🤗<br>
                            </p><br>
                            <p id="mobile-subscription" >
                                Or we can also send them directly to you:<br>
                                <form action="https://iris.mailta.pe/subscribe.php" method="post" accept-charset="utf-8" name="mobile-signup-form" id="mobile-signup-form" target="_blank">
                                    <input type="text" name="mobile-name" placeholder="Alex" pattern="^([A-Z]{1})+([[A-Za-z]+[,.]?[ ]?|[A-Za-z]+['-]]?)+$" required>
                                    <input type="email" name="mobile-email" placeholder="alex@mail.com" required>
                                    <button type="submit" name="mobile-subscribe" id="mobile-subscribeButton">Yes, please!</button>
                                    <p id="mobile-status"></p>
                                </form><br>
                                ✋ We respect your privacy and will never share or sell your data.
                            </p>

                        </div>

                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->