<div class="container topTopbar">
    <div class="topbar">
        <div class="col-xs-2 col-md-2">
            <div id="preloadLogo">
                <img src="{{ site.baseurl }}/img/logo_MailTape.gif">
            </div>
            <a id="logo" onClick="_gaq.push(['_trackEvent', 'Buttons', 'Logo', 'GoBackHome']);" href="/"></a>
        </div>
        <div class="col-xs-10 col-md-10 menu">

            <!-- Modal -->
            <div class="modal fade" id="subModal" tabindex="-1" role="dialog" aria-labelledby="subModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h3 class="modal-title">Fresh music in your inbox, every Sunday morning.</h3>
                            <p>We invite a great artist who selects 3 tracks, we craft an inspiring playlist out of it, you receive it. Simple & free.
                            </p>
                        </div>
                        <div class="modal-body">

                            <div id="mc_embed_signup">
                                <form action="http://MailTa.us2.list-manage.com/subscribe/post?u=315c4b8ac6f2abfa345529f46&amp;id=55aa8710ee" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

                                    <div class="mc-field-group">
                                        <!--           <label for="mce-EMAIL">Your email ?<span class="asterisk">*</span>
      </label> -->
                                        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Your email ?">
                                    </div>
                                    <div class="mc-field-group">
                                        <!--           <label for="mce-PRENOM">How should we call you ?  <span class="asterisk">*</span>
      </label> -->
                                        <input type="text" value="" name="PRENOM" class="required" id="mce-PRENOM" placeholder="Your name ?">
                                    </div>
                                    <div id="mce-responses" class="clear">
                                        <div class="response" id="mce-error-response" style="display:none"></div>
                                        <div class="response" id="mce-success-response" style="display:none"></div>
                                    </div>
                                    <div class="clear">
                                        <input type="submit" value="Submit now" name="subscribe" id="mc-embedded-subscribe" class="button" onClick="_gaq.push(['_trackEvent', 'CTA', 'Subscribe', 'Submit infos from popup']);">
                                    </div>
                                </form>
                            </div>

                            <!--End mc_embed_signup-->

                            <p>See you next Sunday my dear :)
                            </p>

                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->

            <!-- Modal -->
            <div class="modal fade" id="loveModal" tabindex="-1" role="dialog" aria-labelledby="loveModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h3 class="modal-title">Donating = Loving</h3>
                            <p>MailTape remains ad-free, takes hours of passionate work and hundreds of euros to sustain. If you find any joy and value in it, please consider supporting us with a donation.</p>
                        </div>
                        <div class="modal-body">

                            <p class="support_aside">Become a Member and support us with a recurring weekly donation of your choosing, between a coffee and a cheesecake :</p>

                            <div class="paypal_form">
                                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" class="paypal_form">
                                    <input type="hidden" name="cmd" value="_s-xclick">
                                    <input type="hidden" name="hosted_button_id" value="RHZ282ZGVUG7G">
                                    <label>
                                        <select name="os0">
                                            <option value="*">&#9829; 1€/episode</option>
                                            <option value="**">&#9829; 3€/episode</option>
                                            <option value="***">&#9829; 5€/episode</option>
                                        </select>
                                    </label>
                                    <input type="hidden" name="currency_code" value="EUR">
                                    <input type="submit" value="Donate" name="subscribe" id="mc-embedded-subscribe" alt="Secured payment with Paypal" class="button" class="button" data-tracking="weekly_donation_popup" onClick="_gaq.push(['_trackEvent', 'CTA', 'Donating', 'Clicked on weekly donation from popup']);">
                                </form>
                            </div>

                            <p class="support_aside">
                                <br>You can also become a one-time patron with a single donation in any amount :</p>
                            <div class="paypal_form">
                                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" class="paypal_form">
                                    <input type="hidden" name="cmd" value="_s-xclick">
                                    <input type="hidden" name="hosted_button_id" value="HLFXGUF7DYTLG">
                                    <input type="submit" border="0" name="submit" value="Donate" class="button" data-tracking="single_donation_popup" onClick="_gaq.push(['_trackEvent', 'CTA', 'Donating', 'Clicked on single donation from popup']);">
                                </form>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->


            <a data-toggle="modal" class="only-mobile" href="#subModal" onClick="_gaq.push(['_trackEvent', 'Buttons', 'Nav', 'Subscribe']);">SUBSCRIBE</a>

            <a class="donate_button_top" data-toggle="modal" href="#loveModal" onClick="_gaq.push(['_trackEvent', 'Buttons', 'Nav', 'Love']);">DONATE</a>

            <a onClick="_gaq.push(['_trackEvent', 'Buttons', 'Nav', 'Archives']);" class="archivesButton">ARCHIVES</a>

            <!-- Eviter d'afficher le bouton archive dans le cas où JS non activé puisque fonctionne pas dans ce cas -->
            <noscript>
                <style>
                #archivesButton {
                    display:none;
                }
                </style>
            </noscript>
        </div>
    </div>
</div>
