<div class="container topTopbar">
    <div class="topbar">
        <div class="col-xs-2 col-md-2">
            <div id="preloadLogo">
                <img src="{{ site.baseurl }}/img/logo_MailTape.gif">
            </div>
            <a id="logo" data-toggle="modal" href="#aboutModal" onClick="_gaq.push(['_trackEvent', 'Buttons', 'Logo', 'About']);"></a>
        </div>
        <div class="col-xs-10 col-md-10 menu">

            <!-- Modal -->
            <div class="modal fade" id="subModal" tabindex="-1" role="dialog" aria-labelledby="subModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h3 class="modal-title">Fresh delivery, every sunday morning.</h3>
                        </div>
                        <div class="modal-body">

                            <div id="mc_embed_signup">
                                <form action="http://MailTa.us2.list-manage.com/subscribe/post?u=315c4b8ac6f2abfa345529f46&amp;id=55aa8710ee" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

                                    <div class="mc-field-group">
                                        <!--           <label for="mce-EMAIL">Your email ?<span class="asterisk">*</span>
      </label> -->
                                        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Your email ?">
                                    </div>
                                    <div class="mc-field-group">
                                        <!--           <label for="mce-PRENOM">How should we call you ?  <span class="asterisk">*</span>
      </label> -->
                                        <input type="text" value="" name="PRENOM" class="required" id="mce-PRENOM" placeholder="How should we call you ?">
                                    </div>
                                    <div id="mce-responses" class="clear">
                                        <div class="response" id="mce-error-response" style="display:none"></div>
                                        <div class="response" id="mce-success-response" style="display:none"></div>
                                    </div>
                                    <div class="clear">
                                        <input type="submit" value="Fantastic !" name="subscribe" id="mc-embedded-subscribe" class="button" onClick="_gaq.push(['_trackEvent', 'CTA', 'Subscribe', 'Submit infos from popup']);">
                                    </div>
                                </form>
                            </div>

                            <!--End mc_embed_signup-->

                            <p><i>+12,000 music tasters can't be wrong</i>
                            </p>

                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->

            <!-- Modal -->
            <div class="modal fade" id="loveModal" tabindex="-1" role="dialog" aria-labelledby="loveModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h3 class="modal-title">Donating = Loving</h3>
                        </div>
                        <div class="modal-body">

                            <p class="support_aside">MailTape remains ad-free, takes hours of passionate work and hundreds of euros to sustain. If you find any joy and value in it, please consider becoming a Member and supporting with a recurring weekly donation of your choosing, between a coffee and a cheesecake :</p>

                            <div class="paypal_form">
                                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" class="paypal_form">
                                    <input type="hidden" name="cmd" value="_s-xclick">
                                    <input type="hidden" name="hosted_button_id" value="RHZ282ZGVUG7G">
                                    <label>
                                        <select name="os0">
                                            <option value="*">&#9829; 1€/episode</option>
                                            <option value="**">&#9829; 3€/episode</option>
                                            <option value="***">&#9829; 5€/episode</option>
                                        </select>
                                    </label>
                                    <input type="hidden" name="currency_code" value="EUR">
                                    <input type="submit" value="Yay!" name="subscribe" id="mc-embedded-subscribe" alt="Secured payment with Paypal" class="button" class="button" onClick="_gaq.push(['_trackEvent', 'CTA', 'Donating', 'Clicked on weekly donation from popup']);">
                                </form>
                            </div>

                            <p class="support_aside">
                                <br>You can also become a one-time patron with a single donation in any amount :</p>
                            <div class="paypal_form">
                                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" class="paypal_form">
                                    <input type="hidden" name="cmd" value="_s-xclick">
                                    <input type="hidden" name="hosted_button_id" value="HLFXGUF7DYTLG">
                                    <input type="submit" border="0" name="submit" value="Wow  !" class="button" onClick="_gaq.push(['_trackEvent', 'CTA', 'Donating', 'Clicked on single donation from popup']);">
                                </form>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->

            <!-- Modal -->
            <div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="loveModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h3 class="modal-title">Our story</h3>
                        </div>
                        <div class="modal-body">

                            <p>Overflowed with information, it's became very hard to find new talended artists. Of course there is Pandora and the like but with such a quantity of music out there now, it's easy to end up with a background music consumed like disposable tissues.
                                <br>
                                <br>Being truly passionate about music, we wanted to find a way to help enthusiasts discover new music in an easy and consistent way.
                                <br>That's why we created the MailTape. Every sunday morning, we send you an eclectic selection of heart-touching songs curated in collaboration with the most inspiring artists. You may not like everything you hear, but if you make at least one discovery then our job is done.
                                <br>
                                <br>Created in 2011, more than 100 artists have been featured on MailTape, such as Nicolas Jaar, Connan Mockasin, Gonzalez, Wax Tailor, Shigeto. There are many more to come.
                                <br>We hope you'll enjoy this experience. Now sit back, relax and listen...
                                <br>
                                <br>Creator :<a href="http://twitter.com/imacrea" target="_blank">ImaCrea</a>. Co-Curator :<a href="http://twitter.com/greenludo" target="_blank">Ludovic</a>.
                                <br>Thanks<a href="http://twitter.com/julienzanni" target="_blank">Julien</a> for the big play button idea and<a href="http://twitter.com/oomathias" target="_blank">Mathias</a> for your help debugging it on iPhone.
                            </p>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->

            <a data-toggle="modal" href="#subModal" onClick="_gaq.push(['_trackEvent', 'Buttons', 'Nav', 'Subscribe']);">SUBSCRIBE</a>

            <a data-toggle="modal" href="#loveModal" onClick="_gaq.push(['_trackEvent', 'Buttons', 'Nav', 'Love']);">LOVE</a>

            <a onClick="_gaq.push(['_trackEvent', 'Buttons', 'Nav', 'Archives']);" class="archivesButton">ARCHIVES</a>

            <!-- Eviter d'afficher le bouton archive dans le cas où JS non activé puisque fonctionne pas dans ce cas -->
            <noscript>
                <style>
                #archivesButton {
                    display:none;
                }
                </style>
            </noscript>
        </div>
    </div>
</div>
