<div class="container topTopbar">
    <div class="topbar">
        <div class="col-xs-2 col-md-2">
            <div id="preloadLogo">
                <img src="{{ site.baseurl }}/img/logo_MailTape.gif">
            </div>
            {% for post in site.posts %}
            {% if site.time > post.date %}

            <a id="logo" href="{{ post.url }}"></a>

            {% break %}
            {% endif %}
            {% endfor %}
        
        </div>
        <div class="col-xs-10 col-md-10 menu">


            <a data-toggle="modal" class="only-mobile" href="#topLearnMoreModal" onClick="_gaq.push(['_trackEvent', 'Buttons', 'Mobile', 'WhatIsMailTape?']);">WHAT IS MAILTAPE?</a>

        </div>
    </div>
</div>
