@font-face {
  font-family: 'superspitze_groteskregular';
  src: url('/assets/fonts/superspitzegrotesk_semibold-webfont.eot');
  src: url('/assets/fonts/superspitzegrotesk_semibold-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/superspitzegrotesk_semibold-webfont.woff') format('woff'), url('/assets/fonts/superspitzegrotesk_semibold-webfont.ttf') format('truetype'), url('/assets/fonts/superspitzegrotesk_semibold-webfont.svg#superspitze_groteskregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@font-face {
  font-family: 'icomoon';
  src: url('/assets/fonts/icomoon.eot');
  src: url('/assets/fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/icomoon.ttf') format('truetype'), url('/assets/fonts/icomoon.woff') format('woff'), url('/assets/fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class*="icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icomoon {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.oldies h1 {
  margin-top: 0.5em;
}
.oldies .dreamy h1 {
  color: #22acdd;
}
@media only screen and (min-width: 768px) {
  .oldies .dreamy a:hover {
    background: rgba(34, 172, 221, 0.75);
  }
}
.oldies .vibrant h1 {
  color: #fbe206;
}
@media only screen and (min-width: 768px) {
  .oldies .vibrant a:hover {
    background: rgba(251, 226, 6, 0.75);
  }
}
.oldies .rough h1 {
  color: #f03c2d;
}
@media only screen and (min-width: 768px) {
  .oldies .rough a:hover {
    background: rgba(240, 60, 45, 0.75);
  }
}
.oldies .bliss h1 {
  color: #ed1370;
}
@media only screen and (min-width: 768px) {
  .oldies .bliss a:hover {
    background: rgba(237, 19, 112, 0.75);
  }
}
.oldies .trippy h1 {
  color: #23b14c;
}
@media only screen and (min-width: 768px) {
  .oldies .trippy a:hover {
    background: rgba(35, 177, 76, 0.75);
  }
}
.archives {
  font-family: 'superspitze_groteskregular';
  overflow: auto;
}
.archives .stretchMe {
  overflow: auto;
}
.archives h1 {
  text-align: center;
  margin: 2em 0 0.2em 0;
  font-size: 2em;
}
.archives h1:nth-of-type(2) {
  margin: 0.5em 0 0.2em 0;
}
@media only screen and (min-width: 768px) and (max-width: 990px) {
  .archives h1:nth-of-type(2) {
    margin: 0.5em 0 0.2em 0;
  }
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .archives h1:nth-of-type(2) {
    margin: 0.5em 0 0.2em 0;
  }
}
.archives h2 {
  margin: 0 0 1em 0;
  text-align: center;
}
.archives a.nextArchivesTrigger {
  display: inline;
}
.archives a {
  padding: 0;
  display: block;
  z-index: 3;
  overflow: auto;
  outline: none;
  text-decoration: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .archives a {
    background: none;
  }
}
@media only screen and (min-width: 768px) {
  .archives a {
    background: white;
  }
  .archives a:hover {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
  }
  .archives a:hover h1 {
    color: white;
  }
  .archives a:hover h2 {
    opacity: 1;
  }
}
.archives .dreamy h1 {
  color: #22acdd;
}
@media only screen and (min-width: 768px) {
  .archives .dreamy a:hover {
    background: rgba(34, 172, 221, 0.75);
  }
}
.archives .vibrant h1 {
  color: #fbe206;
}
@media only screen and (min-width: 768px) {
  .archives .vibrant a:hover {
    background: rgba(251, 226, 6, 0.75);
  }
}
.archives .rough h1 {
  color: #f03c2d;
}
@media only screen and (min-width: 768px) {
  .archives .rough a:hover {
    background: rgba(240, 60, 45, 0.75);
  }
}
.archives .bliss h1 {
  color: #ed1370;
}
@media only screen and (min-width: 768px) {
  .archives .bliss a:hover {
    background: rgba(237, 19, 112, 0.75);
  }
}
.archives .trippy h1 {
  color: #23b14c;
}
@media only screen and (min-width: 768px) {
  .archives .trippy a:hover {
    background: rgba(35, 177, 76, 0.75);
  }
}
.archives ul {
  overflow: hidden;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .archives ul li {
    padding: 0.5em 0;
  }
}
.archives ul li h1 {
  text-align: left;
  margin-bottom: 0.5em;
  margin-top: 0em;
  font-size: 1.3em;
  font-weight: 300;
  line-height: 0.9em;
  z-index: 1;
  color: #333333;
  position: relative;
  height: 2.8em;
  padding-top: 1.2em;
  -moz-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .archives ul li h1 {
    font-size: 1.1em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .archives ul li h1 {
    font-size: 1.3em;
  }
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .archives ul li h1 {
    margin-bottom: 0em;
    margin-top: 0.4em;
    font-size: 1.5em;
    padding-top: 0;
    height: auto;
    overflow: hidden;
  }
}
.archives ul li h2 {
  text-align: left;
  margin: 0.5em 0;
  font-weight: 100;
  font-size: 0.8em;
  z-index: 1;
  color: white;
  line-height: 1em;
  position: relative;
  display: none;
  -moz-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .archives ul li:nth-of-type(2n) {
    background: white;
  }
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .archives ul li:nth-of-type(2n+1) {
    background: #f6f6f6;
  }
}
.archives ul li .with {
  font-size: 0.5em;
  margin-top: 0.5em;
  line-height: 2em;
  font-weight: 100;
}
@media only screen and (min-width: 768px) {
  .archives ul li .with {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
  }
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .archives ul li .with {
    line-height: auto;
    margin-right: 0.5em;
    display: inline;
  }
}
.archives ul li img {
  z-index: 1;
  position: relative;
  margin-bottom: 0.5em;
  border: solid 4px white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -moz-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  height: 1em;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .archives ul li img {
    display: none;
  }
}
.archives ul li .archive {
  margin-bottom: 2em;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .archives ul li .archive {
    margin-bottom: 0;
  }
}
.archives ul li .stretchMe {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.archives ul li .archive_titles {
  padding: 0 0.5em;
}
.archives .archive_box {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  left: 0;
}
.archives .archive_box.vibrant {
  background: rgba(251, 226, 6, 0.4);
}
.archives .archive_oldies_intro {
  padding: 0;
  display: block;
  z-index: 3;
  background: rgba(51, 51, 51, 0.4);
  position: absolute;
}
.archives .archive_oldies_intro h1 {
  margin-top: 0.5em;
}
#musiColorSelectors {
  text-align: center;
  min-height: 3.5em;
  overflow: visible;
}
#musiColorSelectors li {
  display: inline;
  margin-right: 1em;
}
#musiColorSelectors li i {
  font-family: 'rooney-web';
  font-size: 0.7em;
  line-height: 0.7em;
}
#musiColorSelectors .rough {
  color: #f03c2d;
}
#musiColorSelectors .dreamy {
  color: #22acdd;
}
#musiColorSelectors .vibrant {
  color: #fbe206;
}
#musiColorSelectors .bliss {
  color: #ed1370;
}
#musiColorSelectors .trippy {
  color: #23b14c;
}
#musiColorSelectors a {
  padding: none;
  display: block;
  width: 100%
	overflow: auto;
  text-decoration: none;
  border-radius: none;
  background: none;
}
#musiColorSelectors .selector {
  padding: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -moz-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  background: #f5f5f5;
  -moz-box-shadow: 1px 1px 0px 0px #d4d4d4;
  -webkit-box-shadow: 1px 1px 0px 0px #d4d4d4;
  box-shadow: 1px 1px 0px 0px #d4d4d4;
}
#musiColorSelectors .selector:hover {
  background: none repeat scroll 0% 0% #EDEDED;
  padding: 5px;
}
#musiColorSelectors .selector:active {
  transform: translateY(1px);
}
#musiColorSelectors .unselected .rough {
  color: #b3b3b3;
}
#musiColorSelectors .unselected .dreamy {
  color: #b3b3b3;
}
#musiColorSelectors .unselected .vibrant {
  color: #b3b3b3;
}
#musiColorSelectors .unselected .bliss {
  color: #b3b3b3;
}
#musiColorSelectors .unselected .trippy {
  color: #b3b3b3;
}
#musiColorSelectors .unselected:hover .rough {
  color: #f03c2d;
}
#musiColorSelectors .unselected:hover .dreamy {
  color: #22acdd;
}
#musiColorSelectors .unselected:hover .vibrant {
  color: #fbe206;
}
#musiColorSelectors .unselected:hover .bliss {
  color: #ed1370;
}
#musiColorSelectors .unselected:hover .trippy {
  color: #23b14c;
}
#musiColorSelectors .selected {
  background: none;
  -moz-box-shadow: 0px 0px 0px 0px #d4d4d4;
  -webkit-box-shadow: 0px 0px 0px 0px #d4d4d4;
  box-shadow: 0px 0px 0px 0px #d4d4d4;
}
